/* styles.css */

.success-container {
    text-align: center;
    margin: 5px;
  }
  
  .success-heading {
    color: #11bad4; /* Green color for success */
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .success-message {
    font-size: 16px;
    color: #333;
  }
  .success-image {
    max-width: 100%; 
    margin-top: 20px;
  }
  