/* Center the form */
.birthbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Form styles */
.birthday-form {
  width: 60%;
  margin: auto;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: hwb(187 77% 6%);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form section styles */
.birthday-section {
  margin-bottom: 20px;
  border-radius: 10px; /* Adjusted width to match the form section */
  width: calc(100% - 500px);
  box-sizing: border-box;
}

/* Label styles */
.birthday-label {
  display: block;
  margin-bottom: 8px;
}

/* Select styles */
.birthday-select,
.birthday-section input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; /* Ensure padding and border are included in the width */
  height: 38px; /* Match the height with other input boxes */
}

/* Button styles */
.birthday-button {
  padding: 12px;
  background-color: #6cc8d6;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.birthday-button:hover {
  background-color: #99c9da;
}
