/* SignUpPage.css */

.sign-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(157, 213, 214);
  }
  
  .signup-container {
    max-width: 400px;
    border: 1px solid #ed9a9a;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .signup-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .signup-input-label {
    margin-bottom: 70px;
  }
  
  .signup-input-field {
    padding: 8px;
    margin-bottom: 15px;
    width: 100%;
  }
  
  .signup-error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  .signup-submit-button {
    background-color: bisque;
    color: #805757;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 100%;
  }
  
  .signup-submit-button:hover {
    background-color: #dec5d5;
  }
  
  .signup-login-link {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
  }
  
  .signup-login-link a {
    color: #3498db;
    text-decoration: none;
  }
  
  .signup-login-link a:hover {
    text-decoration: underline;
  }
  