/* src/AdminDelete.css */

.admin-delete-container {
    text-align: center;
    margin: 20px;
  }
  
  .admin-delete-title {
    color: #333;
    font-size: 2em;
  }
  
  .admin-delete-form {
    background-color: #f4f4f4;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    text-align: center;
  }
  
  .admin-delete-form label {
    display: block;
    margin: 10px 0;
    color: #333;
  }
  
  .admin-delete-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .delete-event-button {
    height: 30px;
    width: 130px;
    background-color:  rgb(171, 239, 239);
    cursor: pointer;
  }
  
  .back-button {
    height: 30px;
    width: 130px;
    background-color: #ddd;
    cursor: pointer;
    margin-top: 10px;
  }
  
  /* Add more styles as needed */
  